# Node & OS files
node_modules
npm-debug.log
.DS_Store
Thumbs.db

# Laravel-specific
.env
.env.*
vendor/
storage/*.key
storage/app/*
storage/framework/*
storage/logs/*

# Dev and IDE
.idea/
.vscode/
*.log
*.zip
*.tar.gz
*.sql
*.sqlite
docker-compose.yml
